ion-toolbar {
    --background:silver;
    --color: white;
}
ion-content{
    --background: linear-gradient(silver, white) !important;
  }
ion-list{
    --background:green;
    padding-bottom: 0px;
    padding-top: 0px;
}
ion-item {
    --background:silver;
}
// .color{
//     --background-color:silver;
// }