<ion-header >
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button  color="light" ></ion-back-button>
    </ion-buttons>
    <ion-title  color="light" >ajouter une variétèe</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content > 
      <form (ngSubmit)="addVarieter()" color="light" [formGroup]="varieter" >
        <ion-item > 
          <ion-label color="light">nom de la fleur:</ion-label>
          <ion-input color="light" type="text" placeholder="nom" formControlName="nom" ></ion-input>
           <!-- Error messages -->
          <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.nom.errors?.required"  class="color">
            champ obligatoire 
          </span>
          <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.nom.errors?.minlength"  class="color">
            minimun 2 caractéres
          </span>
        </ion-item>  

    <ion-button  type="submit" expand="block">Valider</ion-button>
    </form>
</ion-content>
