<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>fleurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar ></ion-searchbar>
  <div *ngFor ="let item of listeItems"> 
    <ion-card *ngIf="item.fleuraison == datas">
      <ion-card-header>
        <ion-card-title>{{ item.nom }}</ion-card-title>
      </ion-card-header>  
      <ion-card-content>
        <p>variete : {{ item.variete }}</p>
      </ion-card-content>
    </ion-card> 
  </div >
 
</ion-content>
