<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fleurs</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="filterList($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let plante of (planteList)" >
    <ion-item-sliding>
      <ion-item (click)="detail(plante.id)">
        <ion-thumbnail slot="start">
          <ion-img [src]="plante.image"></ion-img>
        </ion-thumbnail>
        <ion-label>{{plante.nom }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(plante.id,plante.image)" color='red'>
          <ion-icon name="trash-outline" size="small"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="update(plante.id,plante.fleuraison)" color='red'>
          <img src="https://img.icons8.com/carbon-copy/25/000000/approve-and-update.png" />
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>