<ion-header>
  <ion-toolbar>
    <ion-title>Getion  de Clients</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <!-- Disabled Segment -->
    <ion-segment (ionChange)="segmentChanged($event)" value="liste">
      <ion-segment-button value="ajouter">
        <ion-label>
          <ion-icon name="add-circle-outline" size="small"></ion-icon>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="liste">
        <ion-label>
          <ion-icon name="list-outline" size="small"></ion-icon>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="affichage === 'ajouter' ">
  <ion-item class="titre">
    <ion-label class="ajouter" color="light">Ajouter un(e) client(e)</ion-label>
  </ion-item>
  <form (ngSubmit)="addClient()" color="light" [formGroup]="clientFrom">
    <ion-item>
      <ion-label color="light">nom:</ion-label>
      <ion-input color="light" type="text" placeholder="nom" formControlName="nom"></ion-input>
      <!-- Error messages -->
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.nom.errors?.required"
        class="color">
        champ obligatoire
      </span>
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.nom.errors?.minlength"
        class="color">
        minimun 2 caractéres
      </span>
    </ion-item>
    <ion-item>
      <ion-label color="light">Prénom:</ion-label>
      <ion-input color="light" type="text" placeholder="prenom" formControlName="prenom"></ion-input>
      <!-- Error messages -->
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.prenom.errors?.required"
        class="color">
        champ obligatoire
      </span>
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.prenom.errors?.minlength"
        class="color">
        minimun 2 caractéres
      </span>
    </ion-item>
    <ion-item>
      <ion-label color="light">Email:</ion-label>
      <ion-input color="light" type="email" placeholder="email" formControlName="email"></ion-input>
      <!-- Error messages -->
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.email.errors?.required"
        class="color">
        champ obligatoire
      </span>
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.email.errors?.minlength"
        class="color">
        minimun 2 caractéres
      </span>
    </ion-item>
    <ion-item>
      <ion-label color="light">Téléphone fixe:</ion-label>
      <ion-input color="light" type="number" placeholder="fixe" formControlName="fixe"></ion-input>
      <!-- Error messages -->
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.fixe.errors?.required"
        class="color">
        champ obligatoire
      </span>
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.fixe.errors?.minlength"
        class="color">
        minimun 2 caractéres
      </span>
    </ion-item>
    <ion-item>
      <ion-label color="light">Téléphone portable:</ion-label>
      <ion-input color="light" type="number" placeholder="portable" formControlName="portable"></ion-input>
      <!-- Error messages -->
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.portable.errors?.required"
        class="color">
        champ obligatoire
      </span>
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.portable.errors?.minlength"
        class="color">
        minimun 2 caractéres
      </span>
    </ion-item>
    <ion-item>
      <ion-label color="light">Adresse:</ion-label>
      <ion-input color="light" type="text" placeholder="adresse" formControlName="adresse"></ion-input>
      <!-- Error messages -->
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.adresse.errors?.required"
        class="color">
        champ obligatoire
      </span>
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.adresse.errors?.minlength"
        class="color">
        minimun 2 caractéres
      </span>
    </ion-item>
    <ion-item>
      <ion-label color="light">Code postal:</ion-label>
      <ion-input color="light" type="number" placeholder="postal" formControlName="postal"></ion-input>
      <!-- Error messages -->
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.postal.errors?.required"
        class="color">
        champ obligatoire
      </span>
      <span class="error ion-padding" color="light" *ngIf="isSubmitted && errorControl.postal.errors?.minlength"
        class="color">
        minimun 2 caractéres
      </span>
    </ion-item>
    <ion-button type="submit" expand="block">Valider</ion-button>
  </form>
</ion-content>

<ion-content *ngIf="affichage !== 'ajouter' ">
  <ion-item class="titre">
    <ion-label color="light" > Liste des clients</ion-label>
  </ion-item>
  <ion-item>
    <ion-searchbar (ionChange)="filterList($event)" placeholder="recherche"></ion-searchbar>
  </ion-item>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let client of (clientsList)|async">
    <ion-item-sliding>
      <ion-item>
        <ion-label color="light">{{client.nom }} {{ client.prenom }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(client.id)" color="red">
          <ion-icon name="trash-outline" size="small" color="light"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="update(client.id)" color='red'>
          <img src="https://img.icons8.com/carbon-copy/25/000000/approve-and-update.png" />
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
