ion-toolbar {
    --background:green  !important;
    --color: white;
}
ion-content{
    --background:green  !important;
  }
ion-list{
    --background:green !important;
    padding-bottom: 0px;
    padding-top: 0px;
}
ion-item {
    --background:green !important;
}
.color{
    --background-color:green;
}