<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ajouter des Fleurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form (ngSubmit)="addAnnonce()" [formGroup]="annonce">
      <ion-item>
        <ion-label color="light">titre de annonce:</ion-label>
        <ion-input color="light" type="text" placeholder="titre" formControlName="titre" ></ion-input>
         <!-- Error messages -->
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.required">
          champ obligatoire 
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.minlength">
          minimun 2 caractéres
        </span>
      </ion-item>  
      <ion-item>
        <ion-label color="light">description de l'annonce:</ion-label>
        <ion-input color="light" type="text" placeholder="description"  required formControlName="description"  ></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
          champ obligatoire 
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.minlength">
          minimun 2 caractéres
        </span>
      </ion-item>  
      <ion-item>
        <ion-label>type d'adresse</ion-label>
        <ion-select  color="light" placeholder="Select One" required formControlName="type" >
          <ion-select-option value="reception">adresse de reception</ion-select-option>
          <ion-select-option value="livraison">adresse de livraison</ion-select-option>
        </ion-select>
      </ion-item>  
      <ion-item>
        <ion-label color="light">information complémentaire</ion-label>
        <ion-input color="light" type="text" placeholder="information complémentaire" formControlName="info" ></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.info.errors?.pattern">
          minimun 2 caractéres
        </span>
      </ion-item>  
  <ion-button color="light" type="submit" expand="block">Valider</ion-button>
  </form>
</ion-list>

<ion-item *ngFor="let item of items | async">
  <ion-label>{{ item.name }}</ion-label>
</ion-item>
</ion-content>
