:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  ion-header {
    //v2
    --ion-background-color: #3366a0;
    //v1
    // --ion-background-color: #f5af19;
  }
  ion-content {
    //v2
    color: #fff;
    --ion-background-color: linear-gradient(#3366a0, #9eb7d2);
    //v1
    // --ion-background-color: linear-gradient(#f5af19, #f12711);
  }
  //--------------//
  //v2
  ion-title,
  ion-searchbar,
  ion-toolbar,
  ion-label,
  ion-item,
  ion-icon,
  ion-back-button  {
    color: #fff;
  }
  ion-button {
    --background: #4070a6;
  }
  ion-item,ion-list,ion-item-options,ion-item-option {
    --ion-background-color: transparent !important;
  }
  .my-custom-modal .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute; 
    display: block;  
  }