<ion-header>
  <ion-toolbar>
    <ion-title>Détails de la Commande</ion-title>
    <ion-buttons slot="end" (click)="closeModal()">
      <ion-icon size="large" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <!-- Disabled Segment -->
    <ion-segment (ionChange)="segmentChanged($event)" value="ajouter">
      <ion-segment-button value="ajouter">
        <ion-label>
          <ion-icon name="add-circle-outline" size="small"></ion-icon>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="liste">
        <ion-label>
          <ion-icon name="list-outline" size="small"></ion-icon>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<!-- *********************************************************** -->
<ion-content *ngIf="affichage === 'ajouter' " class="titreAjouter">
  <ion-item>
    <ion-label color="light" class="titreAjouter">Ajouter une plante</ion-label>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Selectionner une plante" [(ngModel)]="nom">
      <ion-select-option *ngFor="let plante of (listPlantes)|async" value="{{ plante.nom }}">{{ plante.nom }}
      </ion-select-option>
    </ion-select>
    <ion-input color="light" type="number" [(ngModel)]="prix " placeholder="prix"></ion-input>
    <ion-input color="light" type="number" [(ngModel)]="quantite" placeholder="quantité"></ion-input>
    <ion-select placeholder="Selectionner une unité" [(ngModel)]="unite">
      <ion-select-option value="kg">kg</ion-select-option>
      <ion-select-option value="unité">unité</ion-select-option>
    </ion-select>
    <ion-item>
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="chevron-down-circle-outline" (click)="addLigne()"></ion-icon>
    </ion-item>
  </ion-item>
  <!-- *********************************************************** -->
  <form (ngSubmit)="update()" [formGroup]="formulaireCommande">
    <ion-list  >
      <ion-item>
        <ion-label color="light">nom du client:</ion-label>
        <ion-select value="detail.client" okText="valider" cancelText="Annuler" required id="client" formControlName="client"
          placeholder="Selectionner Nom du client">
          <ion-select-option *ngFor="let client of (listClients)|async" value="{{ client.id }}">{{ client.nom }} {{
            client.prenom }} </ion-select-option>
        </ion-select>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.client.errors?.required">
          champ obligatoire
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.client.errors?.minlength">
          minimun 2 caractéres
        </span>
      </ion-item>
      <ion-item>
        <ion-label color="light">Date de la commande:</ion-label>
        <ion-input color="light" type="date" placeholder="date" required id="date" formControlName="date" value=""> </ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.date.errors?.required">
          champ obligatoire
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.date.errors?.minlength">
          minimun 2 caractéres
        </span>
      </ion-item>
      <ion-item >
        <ion-label color="light">info complémentaire :</ion-label>
        <ion-textarea color="light" rows="6" cols="20" placeholder="info complémentaire"  id="info" value="" required formControlName="infoComplementaire"></ion-textarea>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.infoComplementaire.errors?.required">
          champ obligatoire 
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.infoComplementaire.errors?.minlength">
          minimun 2 caractéres
        </span>
      </ion-item>
    </ion-list>
    <ion-label color="light" class="titreAjouter">liste des plantes</ion-label>
    <ion-list>
      <ion-item *ngFor="let item of tableau">
        <ion-input color="light" type="text" placeholder="nom" id="nom" value="{{ item.nom }}"></ion-input>
        <ion-input color="light" type="text" placeholder="prix" id="prix" value="{{ item.prix }}"></ion-input>
        <ion-input color="light" type="number" placeholder="quantité" value="{{ item.quantite }}"></ion-input>
        <ion-input color="light" type="text" placeholder="prix" id="prix" value="{{ item.unite }}"></ion-input>
        <ion-icon name="close-circle-outline" (click)="deleteLigne(item.id)"></ion-icon>
      </ion-item>
    </ion-list>
    <!-- *********************************************************** -->
    <ion-button type="submit" expand="block">Valider</ion-button>
  </form>


  <!-- *********************************************************** -->
</ion-content>
<ion-content *ngIf="affichage === 'liste' " class="titreAjouter">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item class="titreAjouter">
    <ion-label color="light" class="titreAjouter">Information du client:</ion-label>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label color="light" class="">Nom: {{client.nom}}</ion-label>
      <ion-label color="light" class="">Prénom: {{client.prenom}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="light" class="">Email: {{ client.email }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="light" class="">Numéro de téléphone: </ion-label>
      <ion-label color="light" class="">Fixe: {{ client.fixe }}</ion-label>
      <ion-label color="light" class="">Mobile: {{ client.portable }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="light" class="">Adresse: {{ client.adresse }}, {{ client.postal }}</ion-label>
    </ion-item>
  </ion-list>
 
  <!--  ne s'affiche pas sur des modal le google map-->
  <ion-item id="map_canvas" style="width:55%; height: 55%; background-color:red"></ion-item>
  <!-- <div id="map_canvas" style="width:55%; height: 55%;"></div> -->
</ion-content>