<ion-header>
  <ion-toolbar>
    <ion-title>modifier la plante</ion-title>
    <ion-buttons slot="end" (click)="closeModal()" >
      <ion-icon  size="large" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="background-color: silver;">
    <form (ngSubmit)="addAnnonce()" [formGroup]="annonce">
      <ion-item>
        <ion-label color="light">Nom commun :</ion-label>
        <ion-input color="light" type="text" placeholder="nom" id='nom' value='' formControlName="nom" ></ion-input>
         <!-- Error messages -->
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nom.errors?.required">
          champ obligatoire 
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nom.errors?.minlength">
          minimun 2 caractéres
        </span>
      </ion-item>  
      <ion-item>
        <ion-label color="light">Variété:</ion-label>
        <ion-select  color="light" placeholder="Select One" required  id='variete' value='' formControlName="variete">
          <ion-select-option   *ngFor ="let varieter of varieters |async" value="{{ varieter.nom  }}" >{{ varieter.nom }}</ion-select-option >
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label color="light">Couleur:</ion-label>
        <ion-input color="light" type="text" placeholder="couleur"  required id='couleur' value='' formControlName="couleur" ></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.couleur.errors?.required">
          champ obligatoire 
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.couleur.errors?.minlength">
          minimun 2 caractéres
        </span>
      </ion-item>  
      <ion-item>
        <ion-label color="light" >{{ texte }}</ion-label>

        <ion-select  color="light" placeholder="fleuraison" required id='fleuraison' value=''  formControlName="fleuraison" style="display: none;" >
          <ion-select-option value="Annuelles">Annuelles</ion-select-option>
          <ion-select-option value="Bisannuelles">Bisannuelles</ion-select-option>
          <ion-select-option value="Vivaces">Vivaces</ion-select-option>
          <ion-select-option value="Aromatiques">Aromatiques</ion-select-option>
        </ion-select>

        <ion-select  color="light" placeholder="Select One" required id='fleuraisonLF' value=''  formControlName="fleuraison" style="display: none;">
          <ion-select-option value="Ete">Ete</ion-select-option>
          <ion-select-option value="Hiver">Hiver</ion-select-option>
        </ion-select>

        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.fleuraison.errors?.required">
          champ obligatoire 
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.fleuraison.errors?.minlength">
          minimun 2 caractéres
        </span>
      </ion-item> 
      <ion-item >
        <ion-label color="light" *ngIf="epoque === 'Fruit' || epoque === 'Legumes' " >période de récolte:</ion-label>   
        <ion-label color="light" *ngIf="epoque === 'Fleur' " >Mois de fleuraison:</ion-label>  
        <ion-item>
          <ion-select  color="light" placeholder="de" required formControlName="de" id="de">
            <ion-select-option  *ngFor="let mois of listMois" value="{{ mois }}">{{ mois }}</ion-select-option>
          </ion-select>      
      </ion-item>
      <ion-item>
        <ion-label color="light" style="width: 2em;" >à</ion-label>   
      </ion-item>
      <ion-item>
        <ion-select  color="light" placeholder="a" required formControlName="a" id="a">
          <ion-select-option  *ngFor="let mois of listMois" value="{{ mois }}">{{ mois }}</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-item>

      <ion-item>
        <ion-label color="light">Hauteur:</ion-label>
        <ion-select  color="light" placeholder="Select One" required  id='hauteur' value='' formControlName="hauteur">
          <ion-select-option value="basse">basse</ion-select-option>
          <ion-select-option value="moyenne">moyenne</ion-select-option>
          <ion-select-option value="haute">haute</ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label color="light">Description:</ion-label>
        <ion-input color="light" type="text" placeholder="description"  required    id='description' value='' formControlName="description" ></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
          champ obligatoire 
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.minlength">
          minimun 2 caractéres
        </span>
      </ion-item> 
      <ion-item>
        <ion-label  color="light" >Type de plante</ion-label>
        <ion-select  color="light" placeholder="Select One" required  id='type' value='' formControlName="type" >
          <ion-select-option value="Fleur">Fleur</ion-select-option>
          <ion-select-option value="Fruit">Fruit</ion-select-option>
          <ion-select-option value="Legume">Légume</ion-select-option>
        </ion-select>
      </ion-item>  
      <ion-button (click)="addPhoto()"  expand="block" id="imageB">
        <ion-icon name="image" slot="start"></ion-icon>
        Ouvrir la bibliothèque
      </ion-button>
      <div class="flex">
        <div class="img-box">
          <img id='urlimage' [src]="image">
        </div>
      </div>
  <ion-button  type="submit" expand="block">Valider</ion-button>
  </form>
</ion-list>
</ion-content>
