ion-header {
  //v2
  --ion-background-color: #3366a0;
  //v1
  // --ion-background-color: #f5af19;
}
ion-content {
  //v2
  color: #fff;
  --ion-background-color: linear-gradient(#3366a0, #9eb7d2);
  //v1
  // --ion-background-color: linear-gradient(#f5af19, #f12711);
}
//--------------//
//v2
ion-title,
ion-icon,
ion-back-button {
  color: #fff;
}
ion-button {
  --background: #9eb7d2;
}
#imageB {
  --background: #7699bf;
}
ion-item {
  --ion-background-color: transparent !important;
}

.commande{
  text-align: center;
}
.bouttonCommande{
  --background: #7296be;
}