<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>details de la plante</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card  *ngFor ="let plante of (planteDetail)">
    <!-- <img src="{{ plante.image }}" /> -->
    <ion-img [src]="plante.image"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ plante.nom }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <h2>Détail de la plante</h2>
        </ion-list-header>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/images/iconDetails/icons8-plant-64.png"/>
          </ion-avatar>
          <ion-label>
            <h2>{{ plante.variete }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/images/iconDetails/icons8-hauteur-30.png">
          </ion-avatar>
          <ion-label>
            <h2>{{ plante.hauteur }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/images/iconDetails/icons8-processus.gif">
          </ion-avatar>
          <ion-label>
            <h2>{{ plante.fleuraison }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/images/iconDetails/cal.png">
          </ion-avatar>
          <ion-label>
            <h2>de {{ plante.de }} à {{ plante.a }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/images/iconDetails/icons8-inverser-les-couleurs-30.png">
          </ion-avatar>
          <ion-label>
            <h2>{{ plante.couleur }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/images/iconDetails/icons8-modifier-les-icônes-aligner-le-texte-à-gauche-32.png">
          </ion-avatar>
          <ion-label>
            <h2>{{ plante.description }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
