#fleurs{
    background-image: url('../../assets/images/roses.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
 
}
#fruits{
    background-image: url('../../assets/images/117981_w1024h1024c1cx2652cy2652.webp');
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
 
}
#legumes{
    background-image: url('../../assets/images/content_lg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
 
}